<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <h1>Login</h1>

      <% if @user_exists %>
<<<<<<< HEAD
      <p>Digite seu email e senha para logar.</p>

      <%= render "admin/users/partials/form_login" %>

      <% else %>
        <p>Crie seu primeiro usuario</p>

        <%= render "admin/users/partials/form", user: @user, admin: true %>
=======
        <p>Digite seu email e senha para logar.</p>

        <%= render "admin/users/partials/form_login" %>
      <% else %>
        <p>Crie seu primeiro usuário</p>
>>>>>>> 94ea104030dc38fc7558ac1cd308e0cae0789e79

        <%= render "admin/users/partials/form", user: @user, admin: true  %>
      <% end %>
    </div>
  </div>
</div>